Train_data_images/*

results/*
models/*
test_bench/*
*.pyc
dataset/FaceData
checkpoints/model.ckpt
eval_tool/Face_rec_models/backbone.pth
eval_tool/Face_rec_models/hopenet_robust_alpha1.pkl
pretrained_models/sd-v1-4-modified-9channel.ckpt
pretrained_models/sd-v1-4.ckpt
intermediate_results/*
intermediate_results_261/*
results_FFHQ/*
intermediate_results_FFHQ_261/*
examples/faceswap/*
results_video/*
results_FF++/*
eval_tool/Face_rec_models/cosface/*
eval_tool/Face_rec_models/*
eval_tool/ID_retrieval/arcface_resnet18.pth
pretrained/face_parsing/79999_iter.pth
environment3.yml
intermediate_renact/*
gan_org_imgs/*
temp/*
Quantitative_new/*
results_new/*
wandb/debug-cli.sanoojan.log
models/Paint-by-Example

**.pyc
Quantitative_grad/*
results_grad/*
Other_dependencies/arcface/model_ir_se50.pth
inference_test_bench.sh
train.sh
inference_test_bench_154.sh
eval_tool/eval_tool/clip_score/test_bench_dataset.py
Other_dependencies/FECNet/FECNet.pt
data/*

models_from_CIAI/*
checkpoints/face_recon/epoch_latest.pth
models_from_114/*
train.sh

Quantitative_Grad_all/*
results_FINAL/*
examples/FaceSwap_10/*
Quantitative_FINAL/*
results_FFHQ_FINAL/*
Save_intermediates/*
results_FINAL_Steps/*
DiffSwap_results/*
Aligned/*

Quantitative_Grad_all/*
Save_intermediates/*
examples/*
Quantitative_FINALS/*
results_FFHQ_FINAL/*
Quantitative_Grad_Other_swappers/*
results_FINALS/*
